@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
:root{
    /* == COLORS == */
    --blue-900 : hsl(233, 54%, 16%);
    --blue-600 : hsl(234, 25%, 52%);
    --pink-900 : hsl(341, 92%, 62%);
    --pink-600 : hsl(341, 100%, 83%);
    --grey : hsl(232, 10%, 56%);
    --smooth-white : hsl(236, 100%, 97%);
    --white : hsl(0, 0%, 100%);
    /* == GRADIENTS BASE == */
    --orange-start-gradient : hsl(13, 100%, 64%);
    --pink-end-gradient : hsl(322, 87%, 55%);
    --blue-start-gradient : hsl(237, 100%, 64%);
    /* == FONTS == */
    --main-font: 'Plus Jakarta Sans';
}
*{
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    position: relative;
    font-family: var(--main-font), 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
    overflow-x: hidden;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
}
.nav__logo, .footer__logo{
    width: auto;
    height: 20px;
}
.btn{
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    width: 168px;
    height: 59px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 28px;
}
.nav__button{
    color: var(--white);
    background-color: var(--blue-900);
}
.hero{
    padding: 64px 0px;
    overflow: hidden;
}
.hero__content{
    margin-bottom: 48px;
    padding: 0px 20px;
}
.hero__title{
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 120%;
    font-weight: 800;
    color: var(--blue-900);
}
.hero__resume{
    margin-bottom: 40px;
    width: 326px;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
    color: var(--grey);
}
.hero__btn{
    color: var(--white);
    background: linear-gradient(var(--orange-start-gradient), var(--pink-end-gradient));
}
.hero__medias{
    display: flex;
    align-items: center;
    width: 100%;
    height: 320px;
}
.hero__picture{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* overflow-x: hidden; */
}
.hero__img {
    width: 120%;
}

main{
    padding: 64px 20px 80px 20px;
    background: linear-gradient(var(--white), var(--smooth-white));
    display: grid;
    grid-column: 1fr;
    row-gap: 60px;
}
.card__introduction{
    grid-area: introduction ;
    padding: 32px;
    font-size: 24px;
    line-height: 120%;
    font-weight: 800;
    color: var(--white);
    background: linear-gradient(var(--orange-start-gradient), var(--pink-end-gradient));
    border: none;
    border-radius: 15px;
    box-shadow: 0px 25px 50px hsla(233, 54%, 16%, 0.1);
}
.card{
    position: relative;
    /* margin-top: 60px; */
    padding: 64px 32px 40px 32px;
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0px 25px 50px hsla(233, 54%, 16%, 0.1);
}
.card::before{
    position: absolute;
    top: -28px;
    left: 32px;
    content: ' ';
    width: 56px;
    height: 56px;
    background: linear-gradient(var(--orange-start-gradient), var(--pink-end-gradient));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 56px;
}
.card__animation{
    grid-area: animation ;
}
.card__design{
    grid-area: design ;
}
.card__photography{
    grid-area: photography ;
}
.card__crypto{
    grid-area: crypto ;
}
.card__business{
    grid-area: business ;
}
.card__animation::before{
    background-image: url('./assets/icon-animation.svg');
}
.card__design::before{
    background-image: url('./assets/icon-design.svg');
}
.card__photography::before{
    background-image: url('./assets/icon-photography.svg');
}
.card__crypto::before{
    background-image: url('./assets/icon-crypto.svg');
}
.card__business::before{
    background-image: url('./assets/icon-business.svg');
}
.card__title{
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 120%;
    font-weight: 800;
    color: var(--blue-900);
}
.card__content{
    margin-bottom: 24px;
    color: var(--grey);
}
.card__btn{
    display: flex;
    align-items: center;
    height: 28px;
    font-size: 18px;
    line-height: 150%;
    font-weight: 700;
    color: var(--pink-600);
    background: none;
    border: none;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 20px;
    color: var(--white);
    background-color: var(--blue-900);
}
.footer__btn{
    height: 48px;
    padding: 12px 24px;
    color: var(--white);
    background: linear-gradient(var(--blue-start-gradient), var(--pink-end-gradient));
}

@media (min-width: 768px) {
    header{
        overflow: hidden;
    }
    /* .absolute_01{
        z-index: 10;
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 60px;
        background-color:darkorange
    }
    .absolute_02{
        z-index: 10;
        position: absolute;
        top: 310px;
        right: 0;
        width: 303px;
        height: 60px;
        background-color:dodgerblue;
    }
    .absolute_03{
        z-index: 10;
        position: absolute;
        top: 134px;
        right: 86px;
        width: 216px;
        height: 382px;
        background-color:greenyellow;
        opacity: 0.5;
    } */

    .nav{
        padding: 24px 44px;
    }
    .btn{
        padding: 12px 24px;
        width: 152px;
        height: 48px;
    }
    .hero{
        display: flex;
        align-items: center;
        width: 100%;
        height: 528px;
        overflow-x: hidden;
    }
    .hero__content{
        margin-bottom: 0px;
        margin-right: 24px;
        padding: 0px 0px 0px 44px;
    }
    .hero__medias{
        display: flex;
        align-items: center;
        width: 100%;
        height: 320px;
        overflow: hidden;
    }
    .hero__picture{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 696px;
        height: 724px;
        overflow: hidden;
    }
    .hero__img {
        z-index: 1;
        position: absolute;
        top: -80px;
        left: calc(50% - 16px);
        width: 696px;
        height: auto;
    }
    main{
        padding: 64px 44px 144px 44px;
        display: grid;
        grid-column: 1fr 1fr;
        row-gap: 60px;
        column-gap: 24px;
        grid-template-areas: 
            "introduction animation"
            "design photography"
            "crypto business";
    }
    .card__introduction, .card{
        padding: 64px 32px 40px 32px ;
    }
    footer{
        padding: 24px 44px;
    }
}